@import "src/assets/styles/colors";
@import "src/assets/styles/variables";

.header{
    background: $green-color;
    -webkit-box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.header-inner{
    display: flex;
    justify-content: space-between;
    height: $header-height;
    align-items: center;
}

.header-title{
    font-size: 25px;
    font-weight: 500;
}

.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-user{
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
}

.exit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 30px;
    width: 40px;
    height: 40px;

    &:hover{
        cursor: pointer;
        background: rgba(196, 196, 196, 0.32);
    }

    &:active{
        cursor: pointer;
        background: rgba(166, 166, 166, 0.32);
    }
}

.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
